<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<div class="d-flex flex-column">
    <h3 class="card-titlee">{{cardTitle}}</h3>
    <p class="card-description">
       {{cardDescription}}
    </p>
    <p>
        <span class="material-symbols-outlined">
            star
        </span>
        <span class="material-symbols-outlined">
            star
        </span>
        <span class="material-symbols-outlined">
            star
        </span>
        <span class="material-symbols-outlined">
            star
        </span>
        <span class="material-symbols-outlined">
            star
        </span>
    </p>
    <p class="card-price">
        <strong>$ 549.00 </strong><span>only</span>
    </p>
    <div class="d-flex flex-column card-button">
        <button type="button" class="btn btn-success rounded-5">Buy Now</button>
        <button type="button" class="btn btn-outline-success rounded-5">Add to Cart</button>
    </div>
</div>
